.container {
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-top: 256px;
  text-align: center;
  color: #FFFFFF;
  font-family: 'Orbitron', sans-serif;
}

.count-down {
  border-radius: 16px;
  height: 128px;
  line-height: 128px;
}

.all-done {
  line-height: unset;
  box-shadow: unset;
}

.bkg {
  -webkit-transition: background-color .5s ease;
  -moz-transition: background-color .5s ease;
  -o-transition: background-color .5s ease;
  transition: background-color .5s ease;
}

.one { background-color: hsl(0, 100%, 50%); }
.two { background-color: hsl(36, 100%, 50%); }
.three { background-color: hsl(54, 100%, 50%); }
.four { background-color: hsl(86, 100%, 50%); }
.five { background-color: rgb(0, 255, 98); }
.six { background-color: hsl(180, 100%, 50%); }
.seven { background-color: hsl(199, 100%, 50%); }
.eight { background-color: hsl(221, 100%, 50%); }
.nine { background-color: hsl(276, 100%, 50%); }
.ten { background-color: hsl(310, 100%, 50%); }

.dark-mode {
  background-color: hsl(0, 0%, 0%);
  animation: glowing 300ms infinite;
}

.alt-dark-mode {
  background-color: hsl(0, 68%, 47%);
  animation: glowing 300ms infinite;
}

@-webkit-keyframes glowing {
  0% { -webkit-box-shadow: 0 0 4px hsl(5, 84%, 25%); }
  100% { -webkit-box-shadow: 0 0 40px hsl(0, 0%, 0%); }
}

@-moz-keyframes glowing {
  0% { -moz-box-shadow: 0 0 4px hsl(5, 84%, 25%); }
  100% { -moz-box-shadow: 0 0 40px hsl(0, 0%, 0%);; }
}

@-o-keyframes glowing {
  0% { box-shadow: 0 0 4px hsl(5, 84%, 25%); }
  100% { box-shadow: 0 0 40px hsl(0, 0%, 0%);; }
}

@keyframes glowing {
  0% { box-shadow: 0 0 4px hsl(5, 84%, 25%); }
  100% { box-shadow: 0 0 40px hsl(0, 0%, 0%);; }
}
